{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Actualizar Cotizacion </title>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> ACTUALIZAR COTIZACION</h1>

<body>
<form action="/actualizarC/{{ edcoti.0 }}" method="POST">
    <ul>

      <p></p>
      
        <label for="Validar">Validar</label>
        <input type="text" name="Validar", value="{{ edcoti.1 }}" required/>
     
      <p></p>
      
        <label for="Numero cotizacion">Numero cotizacion</label>
        <input type="text" name="Numero cotizacion", value="{{ edcoti.2 }}" required/>
      
      <p></p>
      
        <label for="Fecha">Fecha:</label>
        <input type="text" name="Fecha", value="{{ edcoti.3 }}" required/>
      
      <p></p>
      
        <label for="Empresa">Empresa:</label>
        <input type="text" name="Empresa", value="{{ edcoti.4 }}" required/>
      
      <p></p>
     
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC", value="{{ edcoti.5 }}" required/>
     
      <p></p>

      <label for="Domicilio">Domicilio:</label>
      <input type="text" name="Domicilio", value="{{ edcoti.6 }}" required/>
   
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <button type="submit">ACTUALIZAR COTIZACION</button>
        <a class="button1">CANCELAR</a>
           
      
    </ul>
  </form>
  <div class="d-flex justify-content-center">
    <a href="logout" class="btn btn-outline-primary"><i class="bi bi-house-door-fill"></i></a>
    </div>
</div>
</body>
  <p></p>

</html>
{% endblock %}