<!DOCTYPE html>
<html lang="en">
  <title> Actualizar Cotizacion </title>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
  
    <a href="registrarC" class="button2">REGISTRAR COTIZACION</a>
    <a href="buscarC" class="button2">BUSCAR COTIZACION</a>
    <a href="consultarC" class="button2">CONSULTAR COTIZACION</a>
    <a href="eliminarC" class="button2">ELIMINAR COTIZACION</a>

  <h1> ACTUALIZAR COTIZACION</h1>

<body>
<form action="/ActualizarCotizacion" method="POST">
    <ul>
      
        <label for="Cotizacion">Cotizacion:</label>
        <input type="text" name="Cotizacion"/>
      
      <p></p>
      
        <label for="Validar">Validar</label>
        <input type="text" name="Validar"/>
     
      <p></p>
      
        <label for="Numero cotizacion">Numero cotizacion</label>
        <input type="text" name="Numero cotizacion"/>
      
      <p></p>
      
        <label for="Fecha">Fecha:</label>
        <input type="text" name="Fecha"/>
      
      <p></p>
      
        <label for="Empresa">Empresa:</label>
        <input type="text" name="Empresa"/>
      
      <p></p>
     
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC"/>
     
      <p></p>

      <label for="Domicilio">Domicilio:</label>
      <input type="text" name="Domicilio"/>
   
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <a class="button1">GUARDAR COTIZACION</a>
        <a class="button1">CANCELAR</a>
           
      
    </ul>
  </form>
</div>
</body>
  <p></p>

</html>