<!DOCTYPE html>
<html lang="en">
  <title> Actualizar Proveedor </title>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
  
    <a href="registrarP" class="button2">REGISTRAR PROVEEDOR</a>
    <a href="buscarP" class="button2">BUSCAR PROVEEDOR</a>
    <a href="consultarP" class="button2">CONSULTAR PROVEEDOR</a>
    <a href="eliminarP" class="button2">ELIMINAR PROVEEDOR</a>

  <h1> ACTUALIZAR PROVEEDOR</h1>

<body>
<form action="/actualizarP/{{ edprov.0 }}" method="POST">
    <ul>
      
        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre", value="{{ edprov.1 }}" required/>
      
      <p></p>
      
        <label for="Apellido Paterno">Apellido Paterno:</label>
        <input type="text" name="Apellido Paterno", value="{{ edprov.2 }}" required/>
     
      <p></p>
      
        <label for="Apellido Materno">Apellido Materno:</label>
        <input type="text" name="Apellido Materno", value="{{ edprov.3 }}" required/>
      
      <p></p>
      
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC", value="{{ edprov.4 }}"  required/>
      
      <p></p>
      
        <label for="Empresa">Empresa:</label>
        <input type="text" name="Empresa", value="{{ edprov.5 }}" required/>
      
      <p></p>

      <label for="Domicilio">Domicilio:</label>
      <input type="text" name="Domicilio", value="{{ edprov.6 }}" required/>
   
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <button type="submit">ACTUALIZAR PROVEEEDOR</button>
        <a class="button1">CANCELAR</a>
           
      
    </ul>
  </form>
</div>
</body>
  <p></p>

</html>