<!DOCTYPE html>
<html lang="en">
  <title> Actualizar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
  
    <a href="registrarR" class="button2">REGISTRAR REQUISICION</a>
    <a href="buscarR" class="button2">BUSCAR REQUISICION</a>
    <a href="consultarR" class="button2">CONSULTAR REQUISICION</a>
    <a href="eliminarR" class="button2">ELIMINAR REQUISICION</a>


  <h1>ACTUALIZAR REQUICISIONES</h1>

<body>
   <div>
<form action="/actualizarR/{{ edrequi.0 }}" method="POST">
    <ul>
      
    
      <p></p>

        <label for="Requicicion">Requisicion:</label>
        <input type="text" name="requisicion", value="{{ edrequi.1 }}" required/>
      
      <p></p>
      <button type="submit">ACTUALIZAR NUMERO REQUISICION</button>
      
      <p></p>
        <label for="Fecha">Fecha:</label>
        <input type="date" name="Fecha" class="my-date-input", value="{{ edrequi.2 }}" required>
        
     
      <p></p>
      <button type="submit">ACTUALIZAR FECHA</button>
      
      <p></p>
        <label for="Partida">Partida:</label>
        <input type="text" name="Partida", value="{{ edrequi.3 }}" required/>
      
      <p></p>
      <button type="submit">ACTUALIZAR PARTIDA</button>
      
      <p></p>
        <label for="Cantidad">Cantidad:</label>
        <input type="text" name="Cantidad", value="{{ edrequi.4 }}" required/>
      
      <p></p>
      <button type="submit"> CANTIDAD</button>
      
      <p></p>
        <label for="Descripcion">Descripcion:</label>
        <input type="text" name="Descripcion", value="{{ edrequi.5 }}" required/>
      
      <p></p>
      <button>ACTUALIZAR DESCRIPCION</button>
      
      <p></p>
        <label for="Area_solicitante">Área del solicitante:</label>
        <input type="text" name="Area_solicitante", value="{{ edrequi.6 }}" required/>
     
      <p></p>
      <button type="submit">ACTUALIZAR AREA SOLICITANTE</button>

      <p></p>
      
    </ul>
  </form>
</body>

</html>