{% extends 'plantilla.html' %} 
{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Actualizar orden de compra </title>

  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> ACTUALIZAR ORDEN DE COMPRA</h1>

<body>
<form action="/actulizarO" method="POST">
    <ul>
      
        <label for="Numero de compra">Numero de compra:</label>
        <input type="text" name="NumCompra" required/>
      
      <p></p>
      
        <label for="Fecha">Fecha:</label>
        <input type="date" name="Fecha" required/>
    
      <p></p>
      <p></p>
      <p></p>
        <button type="submit">ACTUALIZAR ORDEN DE COMPRA</button>
        <button type="submit">CANCELAR</button>
           
      
    </ul>
  </form>
</div>
</body>
  <p></p>
  {%with mensajes=get_flashed_messages()%}
  {%if mensajes%}
      {%for msj in mensajes%}
          <h3>{{msj}}</h3>
      {%endfor%}
  {%endif%}
{%endwith%}

</html>
{% endblock %}