<!DOCTYPE html>
<html lang="en">
  <title> Actualizar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="estilo.css">
  
    <a href="RegistrarRequisicion.html" class="button2">REGISTRAR REQUISICION</a>
    <a href="BuscarRequisicion.html" class="button2">BUSCAR REQUISICION</a>
    <a href="ConsultarRequisicion.html" class="button2">CONSULTAR REQUISICION</a>
    <a href="EliminarRequisicion.html" class="button2">ELIMINAR REQUISICION</a>


  <h1>ACTUALIZAR REQUICISIONES</h1>

<body class=bodyint>
   <div class="divform">
<form action="/ActualizarRequisicion" method="POST">
    <ul>
      
        <label for="ID Requicicion">ID Requisicion:</label>
        <input type="text" name="IDrequisicion"/>
    
      <p></p>

        <label for="Requicicion">Requisicion:</label>
        <input type="text" name="requisicion"/>
      
      <p></p>
      <a class="button1">ACTUALIZAR NUMERO REQUISICION</a>
      
      <p></p>
        <label for="Fecha">Fecha:</label>
        <input type="date" class="fecha-input">
        
     
      <p></p>
      <a class="button1">ACTUALIZAR FECHA</a>
      
      <p></p>
        <label for="Partida">Partida:</label>
        <input type="text" name="Partida"/>
      
      <p></p>
      <a class="button1">ACTUALIZAR PARTIDA</a>
      
      <p></p>
        <label for="Cantidad">Cantidad:</label>
        <input type="text" name="Cantidad"/>
      
      <p></p>
      <a class="button1">ACTUALIZAR CANTIDAD</a>
      
      <p></p>
        <label for="Descripcion">Descripcion:</label>
        <input type="text" name="Descripcion"/>
      
      <p></p>
      <a class="button1">ACTUALIZAR DESCRIPCION</a>
      
      <p></p>
        <label for="Area_solicitante">Área del solicitante:</label>
        <input type="text" name="Area_solicitante"/>
     
      <p></p>
      <a class="button1">ACTUALIZAR AREA SOLICITANTE</a>

      <p></p>
      
    </ul>
  </form>
</body>

</html>