{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Buscar Proveedor </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
  
  <h1> BUSCAR PROVEEDOR </h1>

<body>
<form action="/buscarP" method="POST">
    <ul>
      
        <label for="nombre">Nombre del proveedor:</label> <!--busqueda por nommbre proveedor-->
        <input type="text" name="nombre"/>
      
      <p></p>
      
      <button type="submit">BUSCAR</button>

      <h2> REGISTRADO </h2>

      <table>
        <thead>
        <tr>

          <th><label1>ID</label1></th>
            <th><label1>Nombre</label1></th>
            <th><label1>Apellido Paterno</label1></th>
            <th><label1>Apellido Materno</label1></th>
            <th><label1>RFC</label1></th>
            <th><label1>Empresa</label1></th>
            <th><label1>Domicilio</label1></th>
        
        </tr>
      </thead>
        <tr>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tbody>
          {%for alb in busprov %}
          <tr>
              <td>{{ alb.0 }}</td>
              <td>{{ alb.1 }}</td>
              <td>{{ alb.2 }}</td>
              <td>{{ alb.3 }}</td>
              <td>{{ alb.4 }}</td>
              <td>{{ alb.5 }}</td>
              <td>{{ alb.6 }}</td>
          </tr>
          {%endfor %}
      </tbody>
    </table>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
</div>
</body>

</html>
{% endblock %}