<!DOCTYPE html>
<html lang="en">
  <title> Consultar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="estilo.css">

    <a href="EliminarRequisicion.html" class="button2">ELIMINAR REQUISICION</a>
    <a href="BuscarRequisicion.html" class="button2">BUSCAR REQUISICION</a>
    <a href="RegistrarRequisicion.html" class="button2">REGISTRAR REQUISICION</a>
    <a href="ActualizarRequisicion.html" class="button2">ACTUALIZAR REQUISICION</a>

  <h1> CONSULTAR REQUISICION </h1>
  
  <p></p>

  <h2> REGISTRADOS: </h2>

</header>
    </header>
    <style>
        table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    }
    </style>
</header>
    
<body class=bodyint>
    <div class="divform">
<form action="/ConsultarRequisicion" method="POST">
    <ul>
    
          <table class="default">
            <tr>
                <th>ID</th>
                <th>Requisicion</th>
                <th>Fecha</th>
                <th>Partida</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Área solicitante</th>
            
            </tr>
            <tr>
                <td>-</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
  
          <p></p>
          <a class="button1">BUSCAR</a>

        </ul>
    </form>
</body>
    
</html>