{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Consultar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> CONSULTAR REQUISICION </h1>
  
  <p></p>

  <h2> REGISTRADOS: </h2>

<body>
<form action="/consultarR" method="POST">
  
    <ul>
          <table>
            <thead>
            <tr>
              <th><label1>ID</label1></th>
              <th><label1>Fecha</label1></th>
              <th><label1>Requisicion</label1></th>
              <th><label1>Cantidad</label1></th>
              <th><label1>Partida</label1></th>
              <th><label1>Descripcion</label1></th>
              <th><label1>Área solicitante</label1></th>
              <th><label1>Acciones</label1></th>
            
            </tr>
           </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tbody>
              {%for alb in tbrequisicion %}
              <tr>
                  <td>{{ alb.0 }}</td>
                  <td>{{ alb.1 }}</td>
                  <td>{{ alb.2 }}</td>
                  <td>{{ alb.3 }}</td>
                  <td>{{ alb.4 }}</td>
                  <td>{{ alb.5 }}</td>
                  <td>{{ alb.6 }}</td>
                  <td>
                    <a href="/editarR/{{ alb.0 }}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                    <a href="/borrarR/{{ alb.0 }}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                    <button type="button" onclick="location.href='/generarR_pdf'" class="btn btn-outline-primary"><i class="bi bi-filetype-pdf"></i></button>
                </td>
              </tr>
              {%endfor %}
          </tbody>
        </table>
        
        </form>
  
          <p></p>
          <button type="submit">BUSCAR</button>
        </div>
        </ul>
    </form>
    <div class="d-flex justify-content-center">
      <a href="logout" class="btn btn-outline-primary"><i class="bi bi-house-door-fill"></i></a>
      </div>
</body>
    
</html>
<script>
  function descargarPDF(id) {
    window.location.href = '/generarR_pdf/' + id;
  }
  </script>
{% endblock %}