<!DOCTYPE html>
<html lang="en">
  <title> Consultar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
    <a href="EliminarRequisicion.html" class="button2">ELIMINAR REQUISICION</a>
    <a href="BuscarRequisicion.html" class="button2">BUSCAR REQUISICION</a>
    <a href="RegistrarRequisicion.html" class="button2">REGISTRAR REQUISICION</a>
    <a href="ActualizarRequisicion.html" class="button2">ACTUALIZAR REQUISICION</a>

  <h1> CONSULTAR REQUISICION </h1>
  
  <p></p>

  <h2> REGISTRADOS: </h2>

<body>
<form action="/ConsultarRequisicion" method="POST">
  
    <ul>
          <table>
            <tr>
              <th><label1>ID</label1></th>
              <th><label1>Requisicion</label1></th>
              <th><label1>Fecha</label1></th>
              <th><label1>Partida</label1></th>
              <th><label1>Cantidad</label1></th>
              <th><label1>Descripcion</label1></th>
              <th><label1>Área solicitante</label1></th>
            
            </tr>
            <tr>
                <td>-</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
        </form>
  
          <p></p>
          <a class="button1">BUSCAR</a>
        </div>
        </ul>
    </form>
</body>
    
</html>