{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Eliminar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> ELIMINAR REQUISICION </h1>


<body class=bodyint>
   <div class="divform">
<form action="/eliminarR/{{ brequi.0 }}" method="POST">
    <ul>
        
        <label for="IdentidicadorRequicicion">Identificador de Requisicion:</label>
        <p></p>
        <input type="text" name="Identificadorrequisicion", value="{{ brequi.0 }}" required/>
      
      <p></p>
      <button type="submit">ELIMINAR</button>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
  <div class="d-flex justify-content-center">
    <a href="/consultarR" class="btn btn-outline-primary"><i class="bi bi-arrow-left-circle-fill"></i></a>
    </div>
</body>

</div>
</html>
{% endblock %}