<!DOCTYPE html>
<html lang="en">
  <title> Eliminar Proveedor </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

    <a href="registrarP" class="button2">REGISTRAR PROVEEDOR</a>
    <a href="buscarP" class="button2">BUSCAR PROVEEDOR</a>
    <a href="consultarP" class="button2">CONSULTAR PROVEEDOR</a>
    <a href="actualizarP" class="button2">ACTUALIZAR PROVEEDOR</a>

  <h1> ELIMINAR PROVEEDOR </h1>


<body class=bodyint>
   <div class="divform">
<form action="/eliminarP/{{ bprov.0 }}" method="POST">
    <ul>
        
        <label for="IdentidicadorProveedor">Identificador de Proveedor:</label>
        <p></p>
        <input type="text" name="IdentificadorProveedor", value="{{ bprov.0 }}"/>
      
      <p></p>
      <button type="submit">ELIMINAR</button>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
</body>


</html>