{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Eliminar Cotizacion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> ELIMINAR COTIZACION </h1>

<body class=bodyint>
   <div class="divform">
<form action="/eliminarC/{{ bcoti.0 }}" method="POST">
    <ul>
        
        <label for="IdentidicadorCotizacion">Identificador de Cotizacion:</label>
        <p></p>
        <input type="text" name="IdentificadorCotizacion", value="{{ bcoti.0 }}" required/>
      
      <p></p>
      <button type="submit">ELIMINAR</button>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
</body>

</div>
</html>
{% endblock %}