<!DOCTYPE html>
<html lang="en">
  <title> Eliminar Requisicion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

    <a href="registrarR" class="button2">REGISTRAR REQUISICION</a>
    <a href="buscarR" class="button2">BUSCAR REQUISICION</a>
    <a href="consultarR" class="button2">CONSULTAR REQUISICION</a>
    <a href="actualizarR" class="button2">ACTUALIZAR REQUISICION</a>

  <h1> ELIMINAR REQUISICION </h1>


<body class=bodyint>
   <div class="divform">
<form action="/eliminarR" method="POST">
    <ul>
        
        <label for="IdentidicadorRequicicion">Identificador de Requisicion:</label>
        <p></p>
        <input type="text" name="Identificadorrequisicion"/>
      
      <p></p>
      <a class="button1">ELIMINAR</a>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
</body>


</html>