<!DOCTYPE html>
<html lang="en">
  <title> Eliminar Cotizacion </title>
   
<header class="header01">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

    <a href="registrarC" class="button2">REGISTRAR COTIZACION</a>
    <a href="buscarC" class="button2">BUSCAR COTIZACION</a>
    <a href="consultarC" class="button2">CONSULTAR COTIZACION</a>
    <a href="actualizarC" class="button2">ACTUALIZAR COTIZACION</a>

  <h1> ELIMINAR COTIZACION </h1>


<body class=bodyint>
   <div class="divform">
<form action="/eliminarC" method="POST">
    <ul>
        
        <label for="IdentidicadorCotizacion">Identificador de Cotizacion:</label>
        <p></p>
        <input type="text" name="IdentificadorCotizacion"/>
      
      <p></p>
      <a class="button1">ELIMINAR</a>

      <p></p>
      <p></p>
      <p></p>
      
    </ul>
  </form>
</body>


</html>