<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <div class="containerM">
    <title>Inicio</title>

    <h1>INICIO</h1>
    <br>

    <a href="requisiciones" class="button2">REQUISICIONES</a>
    <a href="cotizaciones" class="button2">COTIZACIONES</a>
    <a href="proovedores" class="button2">PROVEEDORES</a>
    </div>
</head>
<body>
    
</body>
</html>