<!DOCTYPE html>
<html>
<head>

  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

</head>
<body>
  <div class="container">
    <center><h1>Login</h1></center>
    <form>
      <label for="nombre">Usuario:</label>
      <input type="text" name="RFC" placeholder="Ingresa tu usuario">

      <label for="email">Contraseña:</label>
      <input type="text" name="contra" placeholder="Ingresa tu contraseña">

      <label for="mensaje">Rol:</label>
      <input type="text" name="rol" placeholder="Ingresa tu rol">

      <br><label for="rfc1"> </label></br>

      <a href="inicio" class="button2">INGRESAR</a>
    </form>
  </div>
</body>
</html>