<!DOCTYPE html>
<html lang="en">
  <title> Registrar Proveedor </title>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">
  
    <a href="eliminarP" class="button2">ELIMINAR PROVEEDOR</a>
    <a href="buscarP" class="button2">BUSCAR PROVEEDOR</a>
    <a href="consultarP" class="button2">CONSULTAR PROVEEDOR</a>
    <a href="actualizarP" class="button2">ACTUALIZAR PROVEEDOR</a>

  <h1> REGISTRAR PROVEEDOR</h1>

<body>
<form action="/registrarP" method="POST">
    <ul>
      
        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre"/>
      
      <p></p>
      
        <label for="Apellido Paterno">Apellido Paterno:</label>
        <input type="text" name="Apellido Paterno"/>
     
      <p></p>
      
        <label for="Apellido Materno">Apellido Materno:</label>
        <input type="text" name="Apellido Materno"/>
      
      <p></p>
      
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC"/>
      
      <p></p>
      
        <label for="Empresa">Empresa:</label>
        <input type="text" name="Empresa"/>
      
      <p></p>
     
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC"/>
     
      <p></p>

      <label for="Domicilio">Domicilio:</label>
      <input type="text" name="Domicilio"/>
   
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <a class="button1">GUARDAR PROVEEEDOR</a>
        <a class="button1">CANCELAR</a>
           
      
    </ul>
  </form>
</div>
</body>
  <p></p>

</html>