{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Registrar Cotizacion </title>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> REGISTRAR COTIZACION</h1>

<body>
<form action="/registrarC" method="POST">
    <ul>
      
        <label for="Cotizacion">Cotizacion:</label>
        <input type="text" name="Cotizacion" required/>
      
      <p></p>
      
        <label for="Validar">Validar:</label>
        <select class="custom-select", name="opcionValidar">
        
          <
  <option value="aceptado">Aceptado</option>
          
          <
  <option value="rechazado">Rechazado</option>
                  
        <
        <option value="en-proceso">En proceso</option>
            </select>
     
      <p></p>
      
        <label for="Numero cotizacion">Numero cotizacion:</label>
        <input type="number" name="Numero cotizacion" required/>
      
      <p></p>
      
        <label for="Fecha">Fecha:</label>
        <input type="date" name="Fecha" required/>
      
      <p></p>
      
        <label for="Empresa">Empresa:</label>
        <input type="text" name="Empresa" required/>
      
      <p></p>
     
        <label for="RFC">RFC:</label>
        <input type="text" name="RFC" required/>
     
      <p></p>

      <label for="Domicilio">Domicilio:</label>
      <input type="text" name="Domicilio" required/>
   
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <button type="submit">GUARDAR COTIZACION</button>
           
      
    </ul>
  </form>
  <div class="d-flex justify-content-center">
    <a href="inicio" class="btn btn-outline-primary"><i class="bi bi-arrow-left-circle-fill"></i></a>
    </div>
</div>
</body>
  <p></p>
  {%with mensajes=get_flashed_messages()%}
  {%if mensajes%}
      {%for msj in mensajes%}
          
      <script>Swal.fire('Listo!','Cotización Registrada','success')</script>

      {%endfor%}
  {%endif%}
{%endwith%}

</html>
{% endblock %}