{% extends 'plantilla.html' %} 

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <title> Registrar Requisiciones </title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <div class="containerM">

  <h1> REGISTRAR REQUICISIONES</h1>

<body>
<form action="/registrarR" method="POST">
    <ul>
      
        <label for="Requicicion">Requisicion:</label>
        <input type="number" name="requisicion" required/>
      
      <p></p>
      
        <label for="Fecha">Fecha:</label>
        <input type="date" name="Fecha" required/>
     
      <p></p>
      
        <label for="Partida">Partida:</label>
        <input type="text" name="Partida" required/>
      
      <p></p>
      
        <label for="Cantidad">Cantidad:</label>
        <input type="number" name="Cantidad" required/>
      
      <p></p>
      
        <label for="Descripcion">Descripcion:</label>
        <input type="text" name="Descripcion" required/>
      
      <p></p>
     
        <label for="Area_solicitante">Área del solicitante:</label>
        <!--<input type="text" name="Area_solicitante" required/>-->
        <select class="custom-select", name="opcion">
        
          <
  <option value="recursos-materiales">Recursos materiales</option>
          
          <
  <option value="recursos-humanos">Recursos humanos</option>
          <option value="tics">TIC's</option>
          
         
  <option value="secretaria-academica">Secretaria académica</option>
          
          <
  <option value="secretaria-administrativa">Secretaria administrativa</option>
          <option value="desarrollo-humano">Desarrollo humano</option>
          <option value="lengua-extranjera">Lengua extranjera</option>
                  
        <
        <option value="vinculacion">Vinculación</option>
            </select>
            
     
      <p></p>
    
      <p></p>
      <p></p>
      <p></p>
        <button type="submit">GUARDAR REQUISICION</button>
           
      
    </ul>
  </form>
  <div class="d-flex justify-content-center">
    <a href="inicio" class="btn btn-outline-primary"><i class="bi bi-arrow-left-circle-fill"></i></a>
    </div>
</body>
  <p></p>
  {%with mensajes=get_flashed_messages()%}
  {%if mensajes%}
      {%for msj in mensajes%}

          <script>Swal.fire('Listo!','Requisición Registrada','success')</script>

      {%endfor%}
  {%endif%}
{%endwith%}

</div>
</html>
{% endblock %}